.content-1{
	height:60vh;
	width:100%;
	background-size:cover;
	background-position:center;
	background-image:url(image/i2.jpeg);
}

.content-2{
	height:60vh;
	width:100%;
	background-size:cover;
	background-position:center;
	background-image:url(image/i3.jpeg);
}


.mid-text li{
	 font-size: 20px;
  padding-top: 9px;
	list-style-position:inside;
}


.image
	img{
		
	}


.get{
	   padding: 17px 35px;
}


button.btn.btn-lg-primary {
    background: #b73e26;
    padding: 12px 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 0;
    border: none;
	margin-left:22px;
}


.gap-col-footer {
    padding-left: 60px;
}

.section-gap{
	padding:50px 0;
}

.Gif a p{
	font-size: 1.25rem;
}
#player {
  width: 100%;
  height: 40vh;
}

.Gif img {
  height: 30vh;
}

.gif h2 {
  font-size: 2.5rem;
}

.BTN-2 {
  padding: 10px 9px;
  font-size: 24px;
}

.top-heading {
  font-size: 60px;
  font-weight: 450;
}
.top-content h1 span {
    font-size: 27px;
}
.top-heading span {
/*   font-size: 60px; */
  font-weight: 450;
}

.BTN {
/*   padding: 13px 48px;
  border-radius: 12px 12px 12px 12px;
  font-size: 24px; */
}

.bullets ul {
  font-size: 22px;
}

.text-13 {
  font-size: 3rem;
  font-weight: 660;
}

.BTN1 {
  padding: 10px 45px;
  border-radius: 12px 12px 12px 12px;
  font-size: 24px;
}

.content-4 .IMG img {
  padding-top: 82px;
}

.navbar-nav {
  font-size: 1.1rem;
  text-transform: uppercase;
/*   padding-left: 31%; */
  font-family: sans-serif;
}

.image3 img {
/*   height: 13vh; */
}

.author {
  font-size: 1.8rem;
  font-weight: 550;
}

.TE {
  font-weight: 680;
  font-size: 2.6rem;
}

.text-19 {
  font-size: 1.4rem;
  font-weight: 400;
}

.text-16 {
  font-size: 4.5rem;
  font-weight: 600;
  margin-left: 82px;
}

.text-15 {
  margin-left: 82px;
}

.media1 {
/*   padding: 12px 319px 25px; */
}

.media2 {
/*   padding: 0px 319px 25px; */
}

.navbar-brand img {
  width: 100%;
  position: relative;
top:-5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-line {
  background: #b73e26;
  padding: 10px 10px;
  width: 68vw;
  margin-left: auto;
}

.btn-1 {
  background-color: black;
  margin-left: 35px;
  line-height: 1.5;
  font-size: 1.1rem;
}

.btn-1:hover {
  background-color: #a62b1d;
}

.social-media
a {
  color: #b73e26;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  text-align: center;
  height: 30px;
  margin: 2px;
  display: inline-block;
}


section.faq.bg-color .col-md-6 {
    padding: 0;
    margin: 0;
}
section.faq.bg-color .image img {
    width: 100%;
}
.header-bg {
  background-image: url(image/hero-banner11.gif);
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
	background-size: cover;
}

.text-1 {
  position: relative;
  top: 100px;
}

.text-1 h1 {
  font-weight: 800;
  font-size: 3.1rem;
  font-family: sans-serif;
}

.text-1 h4 {
  font-weight: 700;
  font-size: 1.7rem;
}

.text-1 .text-2 {
/*   font-weight: 300;
  letter-spacing: 1px;
  font-size: 17px;
  font-family: sans-serif; */
	
	padding: 20px 0 40px;
    font-size: 18px;
    max-width: 506px;
}

.text-1 .btn-2 {
  padding-top: 50px;
}

.text-1 .btn-2 .btn-get {
  background-color: #a62b1d;
  padding: 15px 20px;
  font-weight: 300;
}

.section-title h2 {
  line-height: 1;
  font-weight: 800;
  font-size: 2.8rem;
}

.section-title p {
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 350;
}

.text-4 {
/*   margin: 24px 257px; */
}

.text-4 ul {
  list-style: square;
	text-align:center;
}

.text-4 li {
/*   font-size: 20px;
  padding-top: 9px; */
}

.text-5 h2 {
  line-height: 1;
  font-weight: 700;
  font-size: 2.8rem;
}

.text-5 img {
  padding-top: 25px;
}

.content-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  height: 190px;
  color: white;
  background: #000000b3;
  font-size: 26px;
  font-weight: 200;
  padding-top: 50px;
}

.wrapper img {
  width: 100%;
}

.text-6 h2 {
  line-height: 1;
  font-weight: 800;
  font-size: 2.8rem;
}

.text-7 ul {
  list-style: square;
}

.text-7 li {
  font-size: 19px;
  padding-top: 13px;
}

.bg-color {
  background-color: #f6f6f6;
}

.bg-color .text-8 {
  padding: 70px 0px;
  line-height: 1;
}

.bg-color .text-8 h2 {
  line-height: 1;
  font-weight: 650;
  font-size: 3rem;
}

.content-5 .box {
  padding: 10px;
  background: white;
  margin-bottom: 30px;
}

.content-5 .box h2 {
  text-align: center;
  font-size: 1.3rem;
  padding: 5px 2px;
}

.bg-color2 {
  background: #b73e26;
}

.bg-color2 .content-6 h2 {
  font-size: 3.3rem;
  font-weight: 650;
  line-height: 1;
}

.bg-color2 .content-6 .bullets ul {
  font-size: 15px;
}

.bg-color2 .content-6 .bullets li {
  font-size: 20px;
  padding-top: 9px;
}

.call-us {
  background-color: #fae6e1;
}

.call-us {
    text-align: center;
    padding-bottom: 53px;
}

.call-us h1 {
  font-weight: 700;
  font-size: 2.7rem;
	    margin-bottom: 0;
}

.call-us h1 a {
  color: #b73e26;
  text-decoration: none;
}

.call-us h1 a:hover {
  color: #000;
}

.footer {
  background-color: black;
/* 	height:49vh; */
}

.footer .list {
  text-align: left;
}

.footer .list ul {
  list-style: none;
	padding:0;
	font-size:14px;
}

.footer .list h3 {
  font-size: 1.5rem;
}

.footer .lists ul {
  list-style: none;
	padding:0;
	font-size:14px;
}

.footer .lists h3 {
  font-size: 1.5rem;
}

.footer .lists a {
  text-decoration: none;
  color: white;
}

.footer .lists a:hover {
  color: #b73e26;
}

.footer .social-links a {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  text-align: center;
  height: 40px;
  margin: 2px;
  display: inline-block;
}
.footer .social-links i{
	padding: 6px 0;
    font-size: 25px;
}


.footer .social-links a:hover {
  color: #b73e26;
}

.footer .line {
  color: white;
}

.footer .text-9 h4 {
  font-size: 1.1rem;
}

.top-content {
/*   height: 25vh; */
  width: 100%;
  background-color: #b73e26;
}

.top-content h1 {
  font-size: 60px;
  font-weight: 450;
}

.top-content h1 span {
/*   font-size: 20px; */
}

.btn-dark {
/*   padding: 11px 35px; */
  font-size: 18px;
  border: 1px solid black;
  font-weight: 680;
  color: #fff;
  background-color: #b73e26;
  border-color: #a0abbb;
  text-align: center;
	  padding: 13px 48px;
/*   border-radius: 12px 12px 12px 12px; */
/*   font-size: 24px; */
}

.btn-dark:hover {
  border-color: black;
}

.work {
  width: 91%;
  height: 8vh;
  /* text-align: center; */
  font-size: 25px;
  color: #252525;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-1 {
  width: 91%;
  height: 27vh;
  /* text-align: center; */
  font-size: 25px;
  color: #252525;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid-content-2 {
  background-color: #e5e5e5;
/*   height: 95vh; */
  width: 100%;
}

.content-8 {
  background-color: #b73e26;
/*   height: 25vh; */
  width: 100%;
}

.content-8 .text-14 {
  font-size: 1.5rem;
  font-weight: 450;
}

.content-8 .text-14 a {
  color: white;
}

.content-8 .text-14 a:hover {
  color: black;
}

.content-9 {
  background-color: #e5e5e5;
  height: 20vh;
  width: 100%;
}

.about-1 {
  background: radial-gradient(ellipse at center, #832a19 1%, #b73e26 100%);
  height: 35vh;
  width: 100%;
}

.about-1 .image img {
  height: 30vh;
  width: 100%;
  float: right;
  position: relative;
  margin-top: 6.5%;
  margin-right: -5%;
  z-index: 5;
}

.about-2 {
  background: #eaeaea;
  margin: 2.5%;
/*   padding: 2.5%; */
  text-align: center;
/*   height: 42vh; */
}

.about-2 .text-17 {
  font-weight: 660;
  font-size: 2.6rem;
}

.about-2 .text-18 {
  font-size: 1.4rem;
  font-weight: 450;
}

.locations {
  max-width: 700px;
}

.locations ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.content-11 {
  background: radial-gradient(ellipse at center, #832a19 1%, #b73e26 100%);
/*   height: 40vh; */
  width: 100%;
}

.image-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 5%;
}

.image-4 img {
  max-width: 100%;
  height: auto;
}

.last-part {
  background: radial-gradient(ellipse at center, #832a19 1%, #b73e26 100%);
/*   height: 65vh; */
  width: 100%;
}

.box-partial {
  padding: 2% 0 2% 0;
  font-weight: 400;
  text-transform: none;
  width: 77%;
  margin: 3% auto 5% auto;
  border-top: 1px solid #343434;
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
  font-size: 38px;
}

.Gif {
/*   height: 30vh; */
}



.Gif a {
  color: black;
}

.Gif a:hover {
  color: #b73e26;
}

.last-part-1 {
  background: radial-gradient(ellipse at center, #832a19 1%, #b73e26 100%);
/*   height: 40vh; */
  width: 100%;
}

.how {
  background-color: #b73e26;
  height: 35vh;
  width: 100%;
}

@media (min-width: 280px) and (max-width: 400px) {
	.Gif a p{
	font-size: 1rem;
}
  .media1, .media2 {
    padding: 0px 33px;
  }
  header {
    width: 100%;
  }
  .top-line {
    display: none;
  }
  .navbar-brand {
    width: 180px;
  }
  .navbar-brand img {
    width: 50%;
    top: -4px;
  }
  .navbar-brand button .navbar-toggler {
    margin-bottom: 10px;
  }
  .text-15 {
    margin-left: -49px;
    font-size: 0.5rem;
  }
  .text-16 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 0px;
  }
  .about-1 {
    width: 100%;
    height: 23vh;
  }
  .about-1 .image img {
    height: 10vh;
    width: 30%;
    margin-top: -22.5%;
    margin-right: -1%;
  }
  .about-2 {
/*     height: auto; */
  }
  .about-2 .text-17 {
    font-size: 1.6rem;
  }
  .about-2 .text-18 {
    font-size: 1rem;
  }
  .btn-dark {
/*     padding: 5px; */
	  padding: 10px 10px;
    font-size: 0.9rem;
/*     margin-top: -23px; */
  }
  .text-19 {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .TE {
    font-weight: 680;
    font-size: 1.6rem;
    margin-top: -29px;
  }
  .item .text-19 {
    margin-top: -39px;
    font-size: 0.9rem;
  }
  .item .author {
    font-size: 1.3rem;
    margin-top: -22px;
  }
  .image3 img {
/*     height: 7vh; */
    /* padding-top: 7px; */
/*     margin-top: -41px; */
  }
  .footer {
    height: auto;
  }
  .footer .list {
/*     text-align: center; */
  }
  .text-5 img {
    width: 100%;
  }
  .text-5 .top-heading {
    font-size: 37px;
  }
  .text-5 .top-heading span {
    font-size: 35px;
  }
  .text-5 .BTN {
    margin: 30px;
  }
  .text-5 .bullets ul {
    font-size: 13px;
  }
  .text-5 .video .video-container iframe {
    width: 100%;
  }
  .text-5 .content-8 {
    height: 40vh;
  }
  .text-5 .mid-content-2 {
    height: 153vh;
  }
  .text-5 .text-13 {
    font-size: 2rem;
  }
  .text-5 .text-14 {
    font-size: 1.1rem;
  }
  .text-5 .BTN1 {
    margin: 22px;
  }
  .content-1 img, .content-2 img {
    width: 100%;
  }
  .content-4 .IMG img {
    width: 100%;
  }
  .image img {
    width: 100%;
  }
  .text-4 {
    margin: 0;
  }
  .text-4 li {
    font-size: 14px;
  }
  .text-1 {
    top: 30px;
  }
  .text-1 h1 {
    font-size: 2.2rem;
  }
  .text-1 h4 {
    font-size: 1.4rem;
  }
  .text-1 .text-2 {
    font-size: 14px;
  }
  .header-bg {
    height: 60vh;
  }
  .section-title h2 {
    font-size: 2rem;
  }
  .section-title p {
    font-size: 0.9rem;
  }
  .text-5 h2 {
    font-size: 2rem;
  }
  .content-3 {
    width: 100%;
    height: 66px;
    font-size: 12px;
    font-weight: 200;
    padding-top: 29px;
  }
  .text-6 h2 {
    font-size: 2rem;
  }
  .text-7 li {
    font-size: 14px;
  }
  .bg-color2 .content-6 h2 {
    font-size: 2.8rem;
  }
  .bg-color2 .content-6 .bullets ul {
    font-size: 15px;
    padding: 0px;
  }
  .bg-color2 .content-6 .bullets li {
    font-size: 11px;
  }
  .call-us {
    height: 20vh;
  }
  .call-us .image2 {
    padding-right: 0px;
  }
  .call-us .image2 img {
    height: 5vh;

    margin-top: -33px;
  }
  .call-us h3 {
/*     padding-left: 48%; */
    font-size: 0.8rem;
/*     margin-top: -35px; */
  }
  .call-us h1 {
    font-size: 0.9rem;
  }
  .bg-color .text-8 h2 {
    font-size: 2rem;
  }
  .content-7 .bullets ul li {
    font-size: 11px;
  }
  .top-content h1 {
    font-size: 32px;
  }
  .top-content h1 span {
    font-size: 20px;
  }
  .Gif {
/*     margin-top: 72px; */
  }
  .Gif img {
    width: 100%;
  }
  .gif h2 {
    font-size: 1.9rem;
  }
  .box-partial {
    font-size: 22px;
  }
  .last-part-1 {
/*     height: 60vh; */
  }
  .RENTZ img {
    width: 100%;
  }
  .last-part {
/*     height: 100vh; */
  }
  .mid-content-2 {
/*     height: 126vh; */
  }
  .text-13 {
    font-size: 1.75rem;
    font-weight: 660;
    /* padding-top: 9px; */
    margin-top: -26px;
  }
  .content-8 .text-14 {
    font-size: 1rem;
  }
	#player {
    width: 100%;
    height: 19vh;
    /* padding: 24px; */
/*     margin-top: -39px; */
}
}

@media (min-width: 400px) and (max-width: 550px) {
	.box-partial{
		font-size: 26px;
	}
	.top-content h1 {
    font-size: 48px;
  }
	
	#player {
    width: 100%;
    height: 19vh;
    /* padding: 24px; */
/*     margin-top: -39px; */
}
  .content-8 .text-14 {
    font-size: 1rem;
  }
  .text-13 {
    font-size: 1.75rem;
    font-weight: 660;
    /* padding-top: 9px; */
  }
  .mid-content-2 {
/*     height: 81vh; */
  }
  .bullets ul {
    font-size: 13px;
  }
  .media1, .media2 {
    padding: 0px 100px;
  }
  header {
    width: 100%;
  }
  .top-line {
    display: none;
  }
  .navbar-brand img {
    width: 50%;
    top: -4px;
  }
  .text-15 {
    margin-left: -49px;
    font-size: 0.8rem;
  }
  .text-16 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 0px;
  }
  .about-1 {
    width: 100%;
    height: 23vh;
  }
  .about-1 .image img {
    height: 10vh;
    width: 30%;
    margin-top: -22.5%;
    margin-right: -1%;
  }
  .about-2 {
/*     height: auto; */
  }
  .about-2 .text-17 {
    font-size: 1.6rem;
  }
  .about-2 .text-18 {
    font-size: 1rem;
  }
  .btn-dark {
  padding: 10px 18px;
    font-size: 1rem;
  }
  .text-19 {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .TE {
    font-weight: 680;
    font-size: 1.6rem;
    margin-top: -29px;
  }
  .item .text-19 {
    margin-top: -39px;
  }
  .item .author {
    font-size: 1.5rem;
  }
  .image3 img {
/*     height: 7vh; */
    /* padding-top: 7px; */
/*     margin-top: -41px; */
  }
  .footer {
    height: auto;
  }
  .footer .list {
/*     text-align: center; */
  }
  .content-1 img, .content-2 img {
    width: 100%;
  }
  .content-4 .IMG img {
    width: 100%;
  }
  .image img {
    width: 100%;
  }
  .text-4 {
    margin: 0;
  }
  .text-4 li {
    font-size: 14px;
  }
  .text-1 {
    top: 30px;
  }
  .text-1 h1 {
    font-size: 2.2rem;
  }
  .text-1 h4 {
    font-size: 1.4rem;
  }
  .text-1 .text-2 {
    font-size: 14px;
  }
  .header-bg {
    height: 46vh;
  }
  .section-title h2 {
    font-size: 2rem;
  }
  .section-title p {
    font-size: 0.9rem;
  }
  .text-5 h2 {
    font-size: 2rem;
  }
  .text-5 img {
    width: 100%;
  }
  .content-3 {
    width: 100%;
    height: 66px;
    font-size: 12px;
    font-weight: 200;
    padding-top: 15px;
  }
  .text-6 h2 {
    font-size: 2rem;
  }
  .text-7 li {
    font-size: 14px;
  }
  .bg-color2 .content-6 h2 {
    font-size: 2.8rem;
  }
  .bg-color2 .content-6 .bullets ul {
    font-size: 15px;
    padding: 0px;
  }
  .bg-color2 .content-6 .bullets li {
    font-size: 11px;
  }
 
  .call-us .image2 {
    padding-right: 0px;
  }
  .call-us .image2 img {
    height: 5vh;
/*     text-align: none; */
  }
  .call-us h3 {
/*     padding-left: 48%;
    font-size: 0.8rem;
    margin-top: -35px; */
	  font-size: 1rem;
    margin-top: 16px;
}
  }
  .call-us h1 {
    font-size: 0.9rem;
	  
  }
  .bg-color .text-8 h2 {
    font-size: 2rem;
  }
  .bg-color .content-7 .bullets ul li {
    font-size: 11px;
  }
  .bg-color .top-content h1 {
    font-size: 39px;
  }
  .bg-color .top-content h1 span {
    font-size: 20px;
  }
  .bg-color .gif h2 {
    font-size: 1.9rem;
  }
  .bg-color .box-partial {
    font-size: 22px;
  }
  .bg-color .last-part-1 {
    height: 60vh;
  }
  .bg-color .last-part {
    height: 100vh;
  }
  .RENTZ img {
    width: 100%;
  }
  .Gif {
/*     margin-top: 72px; */
  }
  .Gif img {
    width: 100%;
  }

.text-1 .text-2{
/* 	padding: 20px 0 10px; */
/* 	font-size: 12px; */
}

}

@media (min-width: 550px) and (max-width: 767px) {
	#mid-text{
		margin:0;
	}
  .content-8 .text-14 {
    font-size: 1rem;
  }
  .text-13 {
    font-size: 1.75rem;
    font-weight: 660;
    /* padding-top: 9px; */
    margin-top: -26px;
  }
  .mid-content-2 {
/*     height: 126vh; */
  }
  .media1, .media2 {
    padding: 0px 100px;
  }
  header {
    width: 100%;
  }
  .top-line {
    display: none;
  }
  .navbar-brand img {
    width: 50%;
    top: -4px;
  }
  .text-15 {
    margin-left: -49px;
    font-size: 0.7rem;
  }
  .text-16 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 0px;
  }
  .about-1 {
    width: 100%;
    height: 23vh;
  }
  .about-1 .image img {
    height: 12vh;
    width: 30%;
    margin-top: -15.5%;
    margin-right: 3%;
  }
  .about-2 {
/*     height: auto; */
  }
  .about-2 .text-17 {
    font-size: 1.6rem;
  }
  .about-2 .text-18 {
    font-size: 1rem;
  }
  .btn-dark {
    padding: 10px;
    font-size: 1rem;
/*     margin-top: -23px; */
  }
  .text-19 {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .TE {
    font-weight: 680;
    font-size: 1.6rem;
    margin-top: -29px;
  }
  .item .text-19 {
    margin-top: -39px;
  }
  .item .author {
    font-size: 1.5rem;
  }
  .image3 img {
/*     height: 7vh; */
    /* padding-top: 7px; */
/*     margin-top: -41px; */
  }
  .footer {
    height: 81vh;
  }
  .footer .list {
    text-align: center;
  }
  .content-11 {
/*     height: 32vh; */
  }
  .content-4 .IMG img {
    width: 100%;
  }
  .content-7 .bullets ul li {
    font-size: 11px;
  }
  .top-content h1 {
    font-size: 39px;
  }
  .top-content h1 span {
    font-size: 20px;
  }
  .Gif {
/*     margin-top: 72px; */
  }
  .Gif img {
    width: 100%;
  }
  .gif h2 {
    font-size: 1.9rem;
  }
  .box-partial {
    font-size: 22px;
  }
  .last-part-1 {
/*     height: 60vh; */
  }
  .RENTZ img {
    width: 100%;
  }
  .last-part {
/*     height: 1
 * 
 * 00vh; */
  }
  .content-1 img, .content-2 img {
    width: 100%;
  }
  .header-bg {
/*     height: 57vh; */
  }
	
	.image img{
		height:74vh;
	}
	
	.text-4{
		margin:0;
	}
	
	
	.navbar-nav {
  font-size: 1.1rem;
  text-transform: uppercase;
/*   padding-left: 31%; */
  font-family: sans-serif;
}
}

@media (min-width: 767px) and (max-width: 900px) {
	#mid-text{
		margin:0;
	}
	
	.footer .lists h3 {
    font-size: 1.3rem;
}
	.footer .list h3 {
    font-size: 1.3rem;
}
	
	.text-4{
		margin:0;
	}
	.image img{
		height:85vh;
	} 
	
  .content-8 .text-14 {
    font-size: 1.75rem;
  }
  .text-13 {
    font-size: 2.75rem;
    font-weight: 660;
    /* padding-top: 9px; */
  }
  #player {
    height: 25vh;
  }
  .mid-content-2 {
    height: 50vh;
  }
  .media1, .media2 {
    padding: 0px 100px;
  }
  header {
    width: 100%;
  }
  .top-line {
    display: none;
  }
  .navbar-brand img {
    width: 50%;
    top: -4px;
  }
  .text-15 {
    margin-left: -49px;
    font-size: 1.1rem;
  }
  .text-16 {
    font-size: 2.8rem;
  }
  .about-1 {
    width: 100%;
    height: 23vh;
  }
  .about-1 .image img {
    height: 14vh;
    width: 33%;
    margin-top: -19.5%;
    margin-right: -18%;
  }
  .about-2 {
/*     height: auto; */
  }
  .about-2 .text-17 {
    font-size: 1.6rem;
  }
  .about-2 .text-18 {
    font-size: 1rem;
  }
  .btn-dark {
    padding: 10px;
    font-size: 1rem;
/*     margin-top: -23px; */
  }
  .text-19 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .TE {
    font-size: 2.9rem;
    margin-top: -7px;
  }
  .item .text-19 {
    margin-top: -39px;
  }
  .item .author {
    font-size: 3rem;
  }
  .image3 img {
/*     height: 7vh; */
    /* padding-top: 7px; */
/*     margin-top: -41px; */
  }
  .footer {
    height: auto;
  }
  .footer .list {
    text-align: center;
  }
  .content-4 .IMG img {
    width: 100%;
  }
  .content-7 .bullets ul li {
    font-size: 11px;
  }
  .content-3 {
    width: 100%;
    height: 91px;
    font-size: 13px;
    font-weight: 200;
    padding-top: 29px;
  }
  .top-content h1 {
    font-size: 74px;
  }
  .top-content h1 span {
    font-size: 29px;
  }
  .Gif {
/*     margin-top: 72px; */
  }
  .Gif img {
    width: 100%;
	  height: 15vh;
  }
  .gif h2 {
    font-size: 1.9rem;
  }
  .box-partial {
    font-size: 22px;
  }
  .last-part-1 {
/*     height: 60vh; */
  }
  .RENTZ img {
    width: 100%;
  }
  .last-part {
/*     height: 86vh; */
  }
  .text-4 {
    margin: 0;
  }
  .content-1 img, .content-2 img {
    width: 100%;
  }
  .text-5 img {
    width: 100%;
  }
  .header-bg {
    height: 57vh;
  }
	
	
	.navbar-nav {
  font-size: 1.1rem;
  text-transform: uppercase;
/*   padding-left: 31%; */
  font-family: sans-serif;
}
	
	.text-1{
		top:24px;
	}
	.text-1 h1{
		font-size:2rem;
	}
	.text-1 h4{
		font-size:1.3rem;
	}
	.text-1 .text-2{
		font-size:13px;
	}
}

@media (min-width: 900px) and (max-width: 1000px) {
	#mid-text{
		margin:0;
	}
	
	.footer .lists h3 {
    font-size: 1.4rem;
}
	.footer .list h3 {
    font-size: 1.4rem;
}
	
	
	.text-1{
		top:72px;
	}
	.text-1 h1{
		font-size:2.6rem;
	}
	
	
  .content-8 .text-14 {
    font-size: 1rem;
  }
  .text-13 {
    font-size: 1.75rem;
    font-weight: 660;
    /* padding-top: 9px; */
    margin-top: -26px;
  }
  .mid-content-2 {
/*     height: 126vh; */
  }
  .content-4 .IMG img {
    width: 100%;
  }
  .header-bg {
/*     height: 48vh; */
  }
  .media1, .media2 {
    padding: 0px 100px;
  }
  header {
    width: 100%;
  }
  .top-line {
    display: none;
  }
  .navbar-brand img {
    width: 50%;
    top: -4px;
  }
  .text-15 {
    margin-left: -49px;
    font-size: 0.9rem;
  }
  .text-16 {
    font-size: 2.3rem;
    margin-left: 0px;
  }
  .about-1 {
    width: 100%;
    height: 23vh;
  }
  .about-1 .image img {
    height: 16vh;
    width: 113%;
    margin-top: 18.5%;
    margin-right: -30%;
  }
  .about-2 {
/*     height: auto; */
  }
  .about-2 .text-17 {
    font-size: 1.6rem;
  }
  .about-2 .text-18 {
    font-size: 1rem;
  }
  .btn-dark {
    padding: 10px;
    font-size: 1rem;
/*     margin-top: -23px; */
  }
  .text-19 {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .TE {
    font-weight: 680;
    font-size: 1.6rem;
    margin-top: -29px;
  }
  .item .text-19 {
    font-size: 2.1rem;
  }
  .item .author {
    font-size: 4.5rem;
  }
  .image3 img {
/*     height: 6vh; */
    /* padding-top: 7px; */
/*     margin-top: -41px; */
  }
  .footer {
    height: auto;
  }
  .footer .list {
    text-align: center;
  }
  .last-part {
/*     height: 48vh; */
  }
  .content-3 {
    width: 100%;
    height: 66px;
    font-size: 12px;
    font-weight: 200;
    padding-top: 29px;
  }
  .content-7 .bullets ul li {
    font-size: 14px;
  }
  .top-content h1 {
    font-size: 73px;
  }
  .top-content h1 span {
    font-size: 32px;
  }
  .Gif {
/*     margin-top: 72px; */
  }
  .Gif img {
    width: 100%;
	  height:15vh;
  }
  .gif h2 {
    font-size: 1.9rem;
  }
  .box-partial {
    font-size: 22px;
  }
  .last-part-1 {
/*     height: 60vh; */
  }
  .RENTZ img {
    width: 100%;
  }
  .last-part {
/*     height: 100vh; */
  }
  .text-4 {
    margin: 0;
  }
  .content-1 img, .content-2 img {
    width: 100%;
  }
  .text-5 img {
    width: 100%;
  }
	
	.image
	img{
		height:74vh;	}
}



.navbar-nav {
  font-size: 1.1rem;
  text-transform: uppercase;
/*   padding-left: 31%; */
  font-family: sans-serif;
}
}

@media (min-width: 1000px) and (max-width: 1024px) {
	.text-4{
		margin:0;
	}
  .content-8 .text-14 {
    font-size: 1rem;
  }
  .text-13 {
    font-size: 1.75rem;
    font-weight: 660;
    /* padding-top: 9px; */
    margin-top: -26px;
  }
  .mid-content-2 {
/*     height: 126vh; */
  }
  .media1, .media2 {
    padding: 0px 100px;
  }
  header {
    width: 100%;
  }
  .top-line {
    display: none;
  }
  .navbar-brand img {
    width: 50%;
    top: -4px;
  }
  .text-15 {
    font-size: 0.8rem;
  }
  .text-16 {
    font-size: 2.3rem;
    font-weight: 600;
  }
  .about-1 {
    width: 100%;
    height: 23vh;
  }
  .about-1 .image img {
    height: 16vh;
    width: 85%;
    margin-top: 12.5%;
    margin-right: -5%;
  }
  .about-2 {
    height: auto;
  }
  .about-2 .text-17 {
    font-size: 1.6rem;
  }
  .about-2 .text-18 {
    font-size: 1rem;
  }
  .btn-dark {
    padding: 10px;
    font-size: 1rem;
/*     margin-top: -23px; */
  }
  .text-19 {
    font-size: 1.1rem;
  }
  .TE {
    font-size: 2.6rem;
    margin-top: -16px;
  }
  .item .text-19 {
    margin-top: -39px;
  }
  .item .author {
    font-size: 1.5rem;
  }
  .image3 img {
/*     height: 8vh; */
    /* padding-top: 7px; */
/*     margin-top: -41px; */
  }
  .footer {
    height: auto;
  }
  .footer .list {
    text-align: center;
  }
  
  .last-part {
/*     height: 48vh; */
  }
 
  .content-7 .bullets ul li {
    font-size: 16px;
  }
  .top-content h1 {
    font-size: 39px;
  }
  .top-content h1 span {
    font-size: 20px;
  }
  .Gif {
/*     margin-top: 72px; */
  }
  .Gif img {
    width: 100%;
  }
  .gif h2 {
    font-size: 1.9rem;
  }
  .box-partial {
    font-size: 22px;
  }
  .last-part-1 {
/*     height: 60vh; */
  }
  .RENTZ img {
    width: 100%;
  }
  .last-part {
    height: 100vh;
  }
  .text-4 {
    margin: 0;
  }
  .content-1 img, .content-2 img {
    width: 100%;
  }
  .text-5 img {
    width: 100%;
  }
  .content-4 .IMG img {
    width: 100%;
  }
	
	.image
	img{
		height:70vh;	}
}
/* .content-3{
	width:100%;
} */


 .content-3 {
    width: 100%;
    height: 92px;
    font-size: 12px;
    font-weight: 200;
    padding-top: 29px;
  }

.navbar-nav {
  font-size: 1.1rem;
  text-transform: uppercase;
/*   padding-left: 31%; */
  font-family: sans-serif;
}
}

@media(min-width:1024px) and (max-width:1200px){
	
/* 	.content-3{
		width:100%;
	} */
	.content-3 {
    width: 100%;
    height: 66px;
    font-size: 12px;
    font-weight: 200;
    padding-top: 29px;
  }
	
	
	.navbar-nav {
  font-size: 1.1rem;
  text-transform: uppercase;
/*   padding-left: 31%; */
  font-family: sans-serif;
}
}

@media(min-width:1200px) and (max-width:1400px){
	
	.text-4{
		margin:0;
	}
/* 	.content-3{
		width:100%;
	} */
	
	.content-3 {
    width: 100%;
    height: 75px;
    font-size: 12px;
    font-weight: 200;
    padding-top: 29px;
  }
	.text-4{
		margin:0;
	}
	
	
	.navbar-nav {
  font-size: 1.1rem;
  text-transform: uppercase;
/*   padding-left: 31%; */
  font-family: sans-serif;
}
}

/* @media (min-width: 992px){
.navbar-nav {
    flex-direction: row;
    padding-left: 0px;
}
} */
/*# sourceMappingURL=main.css.map */